/* --- General Tags --- */

body {
    min-width: 350px;
    max-width: 1400px;
    font-family: serif;
}

#wrapper { /* - width of page for screen width < 500px - */
    width: 100%;
    background-color: rgb(235, 245, 255);
    margin: 0 auto;
}

/* --Header-- */

header {
    margin: 0;
    padding: 10px;
    background-color: rgb(185, 225, 225);
}

header h1 {
    margin: 5px;
    padding: 3px;
    display: inline;
    font-size: 2em;
}

header h1 img {
    float: left;
}
header button{
    position: fixed;
}

/* --Navigation-- */

nav {
	width: 100%;
	margin: 0;
	padding-bottom: 5px;
	background-color: rgb(205, 215, 255);
	color: gray;
	font-weight: bold;
}
nav ul { 
	text-align: left;
}
nav ul li {
	width: auto;
	padding: 0;
	display: inline-block;
}
nav ul li a {
	width: auto;
	padding-left: 5%;
	padding-right: 0;
	text-decoration: none;
	border: none;
	transition: color 0.2s ease;
}
nav ul li a:hover {
	background-color: rgba(0,0,0,0);
	color: orange; 
}
.dropdown-content {
	background-color: rgb(205, 215, 255);
	min-width: 160px;
	box-shadow: 0px 0px 15px 3px blue;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropdown-content {
	display: list-item;
}

/* --Body-- */

main {
    padding: 3%;
}

canvas {
    border: solid gray;
}
main ul li {
    list-style: none;
}
main a {
    text-decoration: none;
    transition: all 0.2s ease;
}
main a:hover {
    color: orange;
}

@media screen and (min-width: 900px) /* - Multiple column page layout for screen width > 900px - */
{ 
    #content_main {
        width: 65%;
        float: left;
    }
    #content_extra {
        margin-top: 15px;
        width: 30%;
        margin-left: 5%;
        float: right;
        font-size: 0.8em;
    }
}

/* --Footer-- */

footer {
    clear: both;
    margin: 0;
    background-color: rgb(185, 225, 225);
}

footer p {
    margin: 0;
    padding: 0;
}